body {
    margin: 60px auto;
    width: 69%;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif';
    background-color: #eeffec;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
    text-align:center;
}
nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #d5d5d5;
    text-align:center;
    line-height: 1.6em;
}    
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    color: #eeeeee;
}
h1 {
    font-size: 3em;
    text-align:center;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
    color: #999;
}
p {
    font-size: 1em;
    line-height: 1.3em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}
ul.posts li {
    list-style: none;
}
row {
    box-sizing: border-box;
}
row.column {
    float: left;
    padding: 10px;
}
row.column left {
  width: 25%;
}
row.column right {
  width: 75%;
}
row:after {
    content: "";
    display: table;
}
