body {
    margin: 52px auto;
    width: 69%;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Sans-Serif';
    background-color: #eeffec;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    width: 24%;
    float: left
}
footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
    text-align:center;
    line-height: 1.6em;
}
nav ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 1px solid #d5d5d5;
    text-align:center;
    line-height: 1.6em;
}    
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1.2em;
}
a {
    text-decoration: none;
    color: #aaaaaa;
}
a:hover {
    color: #dddddd;
}
h1 {
    font-size: 2em;
    text-align:center;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
    color: #aaaaaa;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #666666;
}
footer {
    border-top: 1px solid #cccccc;
    font-size: 0.8em;
}
ul.posts { 
}
ul.posts li {
    list-style: none;
}
row {
    box-sizing: border-box;
}
row.column {
  float: left;
}
.column left {
  float: left;
  width: 25%;
}
.right {
  float: right;
  width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
container {
      padding: 25px;
}
