---
layout: default
title: My Blog
---
	<h1>{{ page.title }}</h1>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_long_string }}</span> *** <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
		{% capture post_date %}{{ post.date | date_to_long_string }}{% endcapture %}
		{% capture site_date %}{{ site.time | date_to_long_string }}{% endcapture %}
		{% if post_date == site_date %}
			&nbsp FRESH NEW POST
		{% endif %}
		</li>
	  {% endfor %}
	</ul>
